@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$title-font-family: 'Montserrat', sans-serif;
$font-family: 'Open Sans', sans-serif;
$theme: #002e5b; $theme-hover: #33587c;
$theme02: #fde52c; $theme02-hover: #f6e66c ;
$theme03: #8E24AA; $theme03-hover: #7B1FA2;
$theme04: #0288D1; $theme04-hover: #1565C0;
$theme05: #00897B; $theme05-hover: #00796B;

