@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
/*--------------------------------------
  [GENERAL]
--------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #4f5b60;
  font-size: 14px; }

/*--------------------------------------
	[NAV BAR]
--------------------------------------*/
.navbar-theme {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  width: 100%;
  margin-top: 50px;
  z-index: 20;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
.navbar-theme .navbar-right li > a {
  color: #eee;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em; }
.navbar-theme .navbar-right li > a:hover, .navbar-theme .navbar-right li > a:active, .navbar-theme .navbar-right li > a:focus {
  color: #fde52c;
  text-decoration: none; }

.navbar-theme.scroll {
  background-color: #002e5b;
  border-color: #002e5b;
  margin-top: 0px;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
.navbar-theme.scroll .navbar-right li > a {
  color: #eee;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em; }
.navbar-theme.scroll .navbar-right li > a:hover, .navbar-theme.scroll .navbar-right li > a:active, .navbar-theme.scroll .navbar-right li > a:focus {
  color: #fde52c;
  text-decoration: none; }
.navbar-theme.scroll .navbar-brand > img {
  max-width: 150px;
  margin-top: -15px; }

  /*--------------------------------------
    [TOP BAR]
--------------------------------------*/
/*--------------------------------------
	[HERO]
--------------------------------------*/
.hero {
  background: #002e5b url("../img/main-cover.jpg") no-repeat center !important;
  background-size: 100% 100%;
  position: relative; }
.hero .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  /*background: #3F51B5;*/
  background: rgba(39, 51, 116, 0.72);
  z-index: 5; }
.hero .jumbotron {
  background: transparent !important;
  padding: 180px 10px 100px 10px; }
.hero .content {
  color: #eee;
  z-index: 6;
  position: relative; }
.hero .content img {
  max-width: 300px;
  opacity: 0.5; }
.hero .content a {
  color: #fde52c;
  text-decoration: none;
  border-bottom: 3px solid #fde52c;
  font-weight: bold; }
.hero h1 {
  font-weight: bold;
  line-height: 1;
  font-size: 60px;
  font-family: "Montserrat", sans-serif; }
.hero.section {
  background: #002e5b url(../img/business-background-10.jpg) no-repeat center !important; }
.hero.section .jumbotron {
  padding: 120px 10px 20px 10px; }
.hero.section .content {
  text-align: center; }
.hero.section p {
  font-size: 14px;
  color: #eee; }

/*--------------------------------------
	[SECTIONS]
--------------------------------------*/
.section-layer {
  margin: 25px 0px 25px 0px;
  padding: 50px 10px 50px 10px; }

section .section-content {
  margin-bottom: 10px; }
section .section-content .section-title {
  color: #002e5b;
  font-weight: bold;
  font-size: 1.8em;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif; }
section .section-content .sub-title {
  color: #9d9d9d;
  font-size: 20px; }
section .section-content .description {
  color: #666;
  font-size: 14px;
  margin-top: 25px; }
section .section-content .link {
  margin-top: 20px;
  color: #002e5b;
  text-decoration: none;
  border-bottom: 2px solid #002e5b;
  font-size: 18px; }

figure.featured {
  padding-top: 80px;
  padding-bottom: 80px;
  background: transparent url("../img/yellow-bg.jpg") no-repeat center; }
figure.featured.video {
  max-width: 400px; }
figure.featured img {
  box-shadow: 0px 1px 9px 0px; }

.cta-bar {
  background: #002e5b;
  padding: 15px; }
.cta-bar p {
  color: #eee;
  font-size: 1.2em;
  text-align: left;
  margin: 0; }

/*--------------------------------------
	[SERVICES]
--------------------------------------*/
.services-row {
  margin-top: 50px; }
.services-row .item {
  margin-bottom: 20px; }
.services-row .item figure {
  max-width: 350px;
  margin: 0 auto;
  text-align: center; }
.services-row .item figure .title {
  color: #002e5b;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
  text-transform: uppercase; }
.services-row .item figure .description {
  font-size: 1em;
  color: #666; }

/*--------------------------------------
	[COUNTERS]
--------------------------------------*/
.section-counter {
  background: #002e5b url("../img/bg-counters.jpg") no-repeat;
  background-size: 100%;
  padding: 90px 10px 90px 10px; }

.counter-row .item {
  margin-bottom: 10px; }
.counter-row .item .counter {
  color: #eee;
  text-align: center; }
.counter-row .item .counter h2 {
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 3em; }
.counter-row .item .counter span {
  font-size: 0.8em; }

/*--------------------------------------
	[TESTIMONIALS]
--------------------------------------*/
.quote {
  color: #fde52c;
  text-align: center;
  margin-bottom: 30px; }

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/
.section-testimonial {
  background: #002e5b url("../img/bg-testimonial.jpg") no-repeat;
  background-size: 100%;
  padding: 60px 10px 60px 10px; }

#fade-quote-carousel.carousel {
  padding-bottom: 60px; }

#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity; }

#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity; }

#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px; }

#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #EEE;
  border: none; }

#fade-quote-carousel blockquote {
  text-align: center;
  border: none;
  color: #eee; }

#fade-quote-carousel .profile-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100px; }

/*--------------------------------------
	[CONTACT]
--------------------------------------*/
.contact-row {
  margin-top: 50px; }
.contact-row .contact {
  margin-bottom: 10px; }
.contact-row .contact h4 {
  color: #002e5b;
  font-weight: bold;
  margin-bottom: 20px; }
.contact-row .contact .fa {
  color: #002e5b;
  margin-right: 10px; }

#map {
  width: 100%;
  height: 400px;
  background-color: grey; }

footer {
  position: relative;
  width: 100%;
  background: #002e5b;
  color: #eee;
  padding: 10px; }
footer p {
  margin: 0; }
footer p span {
  color: #fde52c; }

/*--------------------------------------
	[SCROLL TOP]
--------------------------------------*/
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #002e5b;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.scroll-top-wrapper:hover {
  background-color: #888888; }

.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1.0; }

.scroll-top-wrapper i.fa {
  line-height: inherit; }

/*--------------------------------------
	[SOCIAL BUTTONS]
--------------------------------------*/
footer {
  /* footer social icons */
  /* footer social icons */ }
footer ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0; }
footer ul.social-network li {
  display: inline;
  margin: 0 5px; }
footer .social-network a.icoRss:hover {
  background-color: #F56505; }
footer .social-network a.icoFacebook:hover {
  background-color: #3B5998; }
footer .social-network a.icoTwitter:hover {
  background-color: #33ccff; }
footer .social-network a.icoGoogle:hover {
  background-color: #BD3518; }
footer .social-network a.icoVimeo:hover {
  background-color: #0590B8; }
footer .social-network a.icoLinkedin:hover {
  background-color: #007bb7; }
footer .social-network a.icoRss:hover i, footer .social-network a.icoFacebook:hover i, footer .social-network a.icoTwitter:hover i, footer .social-network a.icoGoogle:hover i, footer .social-network a.icoVimeo:hover i, footer .social-network a.icoLinkedin:hover i {
  color: #fff; }
footer a.socialIcon:hover, footer .socialHoverClass {
  color: #44BCDD; }
footer .social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px; }
footer .social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center; }
footer .social-circle li a:hover i, footer .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s; }
footer .social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s; }
footer a {
  background-color: #002e5b; }

.btn {
  border-radius: 3px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
.btn-theme {
  background: #002e5b !important;
  border: 1px solid #002e5b !important;
  color: #eee !important; }
.btn-theme:hover, .btn-theme:focus, .btn-theme:active {
  background: #33587c !important;
  border: 1px solid #33587c !important;
  color: #eee !important; }
.btn-theme02 {
  background: #fde52c !important;
  border: 1px solid #fde52c !important;
  color: #002e5b !important; }
.btn-theme02:hover, .btn-theme02:focus, .btn-theme02:active {
  background: #f6e66c !important;
  border: 1px solid #f6e66c !important;
  color: #002e5b !important; }
.btn-theme03 {
  background: #8E24AA !important;
  border: 1px solid #8E24AA !important;
  color: #eee !important; }
.btn-theme03:hover, .btn-theme03:focus, .btn-theme03:active {
  background: #7B1FA2 !important;
  border: 1px solid #7B1FA2 !important;
  color: #eee !important; }
.btn-theme04 {
  background: #0288D1 !important;
  border: 1px solid #0288D1 !important;
  color: #eee !important; }
.btn-theme04:hover, .btn-theme04:focus, .btn-theme04:active {
  background: #1565C0 !important;
  border: 1px solid #1565C0 !important;
  color: #eee !important; }
.btn-theme05 {
  background: #00897B !important;
  border: 1px solid #00897B !important;
  color: #eee !important; }
.btn-theme05:hover, .btn-theme05:focus, .btn-theme05:active {
  background: #00796B !important;
  border: 1px solid #00796B !important;
  color: #eee !important; }
.btn-white {
  background: #fff !important;
  border: 2px solid #fff !important;
  color: #666 !important; }
.btn-white:hover, .btn-white:focus, .btn-white:active {
  background: #eee !important;
  border: 2px solid #eee !important;
  color: #666 !important; }

.bg-theme {
  background: #002e5b; }

.bg-theme02 {
  background: #fde52c; }

.bg-theme03 {
  background: #8E24AA; }

.bg-theme04 {
  background: #0288D1; }

.bg-theme05 {
  background: #00897B; }

@media screen and (max-width: 700px) {
  /*--------------------------------------
    [NAVBAR]
  --------------------------------------*/
  .navbar-theme {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    width: 100%;
    margin-top: 10px; }

  .navbar-theme #navbar {
    background: #002e5b;
    border-bottom: 2px solid #fde52c; }

  .navbar-theme .navbar-brand > img {
    display: block;
    max-width: 100px; }

  .navbar-theme .navbar-toggle {
    border-color: transparent; }

  .navbar-theme .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent; }

  .navbar-theme .navbar-toggle .icon-bar {
    background-color: #eee; }

  /*--------------------------------------
    [HERO]
  --------------------------------------*/
  .hero h1 {
    font-size: 40px; }

  .hero .jumbotron {
    padding: 100px 10px 30px 10px; }

  /*--------------------------------------
    [SECTIONS]
  --------------------------------------*/
  .section-layer {
    margin: 15px 0px 15px 0px;
    padding: 25px 10px 25px 10px; }

  section .section-content .section-title {
    font-size: 1.5em; }

  section .section-content {
    margin-bottom: 30px; }

  .section-counter {
    background: #002e5b !important;
    background-size: 100%; }

  .contact-row {
    margin-top: 10px; }

  .section-testimonial {
    background: #002e5b; }

  figure.featured {
    padding-top: 20px;
    padding-bottom: 20px; } }
@media screen and (max-width: 1024px) {
  .navbar-theme .navbar-brand > img {
    max-width: 100px; } }

/*# sourceMappingURL=core.css.map */
